:root {
    --key: var(--background-overlay-secondary);
    --key-dark-accent: var(--background-overlay);
    --key-light-accent: var(--foreground-overlay);
    --key-text: var(--foreground-secondary);
    --key-shadow: var(--background-overlay-secondary);

    --key-width: 45px;
    --horizontal-margin: 2px;
    --key-border-width: 4px;
    --vertical-margin: 3px;
}

.key {
    display: inline-block;
    width: var(--key-width);
    height: var(--key-width);
    margin: var(--vertical-margin) var(--horizontal-margin);
    padding: 4px;

    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: var(--key-width);
    text-align: center;

    border-radius: 10px;
    border-style: solid;
    border-width: 2px var(--key-border-width) 7px;
    border-color: var(--key-dark-accent) var(--key) var(--key-light-accent);

    box-shadow: 1px 0 3px 2px var(--key-shadow);

    background: var(--key);
    background: linear-gradient(20deg, var(--key-dark-accent), var(--key-light-accent));
}

.key.special {
    display: inline-block;
    height: calc(var(--key-width) * .7);
    line-height: 1;
    font-size: 15px;
    text-align: left;
}

.key-spacer {
    display: inline-block;
    width: var(--key-width);
    margin: var(--horizontal-margin);
}

.key-spacer.w-offset {
    width: calc(var(--key-width) * 0.8)
}

.key-break {
    width: 100%;
}

.key-group {
    text-align: start;
    overflow: hidden;
    white-space: nowrap;
}

.key.pressed {
    transform: scale(0.95, 0.95);
}