<div id="hidden-content" class="no-print">
    <div id="state-form">
        <input type="radio" id="pt" name="lang" value="pt" hidden>
        <input type="radio" id="en" name="lang" value="en" hidden checked>

        <input type="radio" id="light" name="theme" value="light" hidden>
        <input type="radio" id="device" name="theme" value="device" hidden checked>
        <input type="radio" id="dark" name="theme" value="dark" hidden>

        <div class="flex state">
            <label class="corners-left" for="pt" onclick="setLanguage(Languages.PORTUGUESE)">PT</label>
            <label class="corners-right" for="en" onclick="setLanguage(Languages.ENGLISH)">EN</label>
        </div>

        <div class="flex state">
            <label class="corners-left" for="light" onclick="storeItem(Themes.LIGHT)">Light</label>
            <label class="corners-center" for="device" onclick="storeItem(Themes.DEVICE)">Device</label>
            <label class="corners-right" for="dark" onclick="storeItem(Themes.DARK)">Dark</label>
        </div>
    </div>
    <hr>
</div>